# Node modules
node_modules/

# dotenv config
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# OS
*.swp

# IDE/editor
.vscode/
.idea/

# Runtime
*.pid
*.seed

# Output
dist/
build/
